<div>
  <ul class="nav nav-pills mb-3"  role="tablist">
    <li class="nav-item">
      <a class="nav-link active"  data-toggle="pill" role="tab" aria-controls="pills-home"
        aria-selected="true" (click)="filterByCategoria('Hanburguesa')">Hamburguesa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-toggle="pill"  role="tab" aria-controls="pills-profile"
        aria-selected="false" (click)="filterByCategoria('Desayuno')">Desayuno</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-toggle="pill"  role="tab" aria-controls="pills-profile"
        aria-selected="false" (click)="filterByCategoria('Bebida')">Bebidas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-toggle="pill"  role="tab" aria-controls="pills-profile"
        aria-selected="false" (click)="filterByCategoria('Acompañamientos')">Acompañamientos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   aria-selected="false" role="tab"
        aria-controls="pills-profile" (click)="filterByCategoria(null)" *ngIf="this.categoriaFilter$.getValue()">
        Limpiar Filtro
      </a>
    </li>
  </ul>
</div>
<ng-template #loading>Loading&hellip;</ng-template>
<div class="row" *ngIf="productos$ | async; let productos; else loading">
  <div class="col-sm-6" *ngFor="let producto of productos">
    <div class="card">
      <img class="card-img-top" src="{{producto.url}}" width="30" height="120">
      <div class="card-body">
        <p class="card-text"><strong>{{producto.descripcion}}</strong></p>
        <a (click)="addProducto(producto)" class="btn btn-success">S/{{producto.precio}}</a>
      </div>
    </div>
  </div>
  <div *ngIf="productos.length === 0">No hay resultados, tiene que limpiar el filtro</div>

</div>