<div class="row ">
  <div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="http://subirimagen.me/uploads/20181011035539.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Desayuno</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-success ">Ver Lista</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="http://subirimagen.me/uploads/20181011040412.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Almuerzo</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-success">Ver Lista</a>
      </div>
    </div>
  </div>
</div>