<div class="row ">
  <div class="col-sm-2 " *ngFor="let producto of productos | async">
    <div class="card">
      <img class="card-img-top" src="{{producto.url}}" alt="Card image cap" width="30" height="120">
      <div class="card-body text-center">
        <h6 class="card-title">{{producto.categoria}}</h6>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="card-text">S/{{producto.precio}}</p>
        <a href="#" class="btn btn-success ">Agregar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
  </div>
</div>