<div class="row">
  <div class="col-md-6">
    <div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true" (click)="filterByCategoria('Hanburguesa')">Hamburguesa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false" (click)="filterByCategoria('Desayuno')">Desayuno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false" (click)="filterByCategoria('Bebida')">Bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" href="#pills-profile" aria-selected="false" role="tab"
            aria-controls="pills-profile" (click)="filterByCategoria(null)" *ngIf="this.categoriaFilter$.getValue()">
            Limpiar Filtro
          </a>
        </li>
      </ul>
    </div>
    <ng-template #loading>Loading&hellip;</ng-template>
    <div class="row" *ngIf="productos$ | async; let productos; else loading">
      <div class="col-sm-6" *ngFor="let producto of productos">
        <div class="card">
          <img class="card-img-top" src="http://subirimagen.me/uploads/20181011035539.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{producto.categoria}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <a href="#" class="btn btn-success">S/{{producto.precio}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="productos.length === 0">No hay resultados, tiene que limpiar el filtro</div>

    </div>
  </div>
  <div class="col-md-4">
    <h1>Hola Pediddo</h1>
    <div>
      <h1>CART-SHOW</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <h4> <span style="color:blue"> </span>
          </h4>
          <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="Remove" />
        </li>
      </ul>

    </div>
  </div>
</div>