<div>

  <div class="form-group col-md-8">
    <label for="formGroupExampleInput">Nombre del Cliente</label>
    <input type="text" class="form-control" id="inputName" [(ngModel)] ="name" placeholder="Cliente">
  </div>
</div>
<span class="title margin-botton-10"> Pedido
  <span class="subtitle">({{carrito.length}}) producto(s)</span>
</span>
<div *ngIf="carrito.length>0;else carritovaciotmpl">
  <table class="table">
    <caption>Pedido </caption>
    <thead class="thead-light">
      <tr>
        <th class="col">Id</th>
        <th class="col">Producto</th>
        <th class="col">Cantidad</th>
        <th class="col">Precio</th>
        <th class="col">Total</th>
        <th class="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="well" *ngFor="let item of carrito">
        <td>{{item.key}}</td>
        <td>{{item.categoria}} {{item.descripcion}}</td>
        <td>
          <input type="text" ng-model="item.Cantidad" size="7" />
        </td>
        <td>S/. {{item.precio}}</td>
        <td>S/. {{item.precio}}</td>
        <td><button class="fa fa-trash-alt" (click)="deleteTodo(carrito)" ></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="carrito-total">
        <td colspan="2"></td>
        <td>
          Total: S/. {{total}}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<button type="button" class="btn btn-success" (click)="guardarPedido(name)">Guardar </button>

<ng-template #carritovaciotmpl>
  <div class="margin-top-20">
    <strong>El carrito esta vacío.</strong>
  </div>
</ng-template>