<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Burgueen </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos']">Productos</a>
      </li>
      <li class="nav-item">
        <!-- routerLink="/platos" Poner de esta forma la ruta o la otra [] -->
        <a class="nav-link">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/platos']">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mesas</a>
      </li>

    </ul>
  </div>
</nav>